<span style='color:gray'> <span style="font-size:30px;"> 
**Selection of Data for "Predictive model (ML)"**

<span style='color:gray'> <span style="font-size:20px;"> 
**Importing Libraries, Regressors, and Required Dependencies**

In [133]:
"""%pip install --quiet --upgrade scikit-learn==1.2.2
%pip install --quiet qbstyles"""

# Importing the dependencies
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib_inline.backend_inline import set_matplotlib_formats
set_matplotlib_formats('svg')
import matplotlib.patches as mpatches  # To create a legend with a color box

import os  # Import the os module to work with file paths

from qbstyles import mpl_style
mpl_style(dark=False)  # Set light matplotlib style


# Regression metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_error, mean_absolute_error

<span style='color:gray'> <span style="font-size:20px;"> 
**Loading datafile that has been extracted from DLIS file after (Sorting, Cleaning, preprocessing, choosing the logs based on need logically ...)**

<span style='color:gray'> <span style="font-size:15px;"> 
**3-BRSA-944A-RJS**

In [134]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [input for unique dataframe creation]/df_944_ML.csv'
df_944_ML =  pd.read_csv(file_path)
df_944_ML

,DEPTH,BS,CS,GR,SP,DTCO,DTCO3,RHGX_HILT,RMFA_HILT,RHOZ,NPHI,PXND_HILT,PHIE_HILT,PEFZ,AT10,AT30,AT90,CMRP_3MS,CMFF,TCMR
0,5412.4860,8.5,711.0,12.174858,2047.9375,66.379390,66.379390,2.794184,2.055661e+00,2.760735,0.052712,0.020395,0.000000,10.000000,1950.00000,1950.000000,123.580055,0.002518,0.000446,1.786727
1,5412.6387,8.5,711.0,12.174858,2047.9375,66.379390,66.379390,2.794184,2.055661e+00,2.760735,0.052712,0.020395,0.000000,10.000000,1950.00000,1950.000000,123.580055,0.002518,0.000446,1.786727
2,5412.7910,8.5,711.0,12.320129,2047.9375,66.379390,66.379390,2.794184,2.055661e+00,2.760735,0.052712,0.020395,0.000000,10.000000,1950.00000,1950.000000,123.580055,0.002519,0.000447,1.787483
3,5412.9434,8.5,711.0,11.780614,2047.9375,66.379390,66.379390,2.800792,2.924475e+00,2.760735,0.055049,0.024327,0.000000,10.000000,1950.00000,1950.000000,123.580055,0.002519,0.000447,1.787483
4,5413.0957,8.5,711.0,11.552358,2047.9375,66.379390,66.379390,2.801091,2.967250e+00,2.760735,0.049696,0.024504,0.000000,10.000000,1950.00000,1950.000000,123.580055,0.002519,0.000447,1.787483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3909,6008.2180,8.5,442.0,38.224780,-1209.6875,59.398567,59.398567,4.204138,5.366342e+08,2.592296,0.090613,329.001200,0.300933,4.354761,122.65653,100.873310,106.631450,0.002562,0.000454,1.817824
3910,6008.3700,8.5,388.0,38.224780,-1084.6875,59.398567,59.398567,4.204138,5.366342e+08,2.591203,0.090613,329.001200,0.300933,4.368333,139.56294,111.104515,115.885574,0.002561,0.000454,1.817560
3911,6008.5225,8.5,389.0,38.224780,-1092.3750,59.398567,59.398567,4.204138,5.366342e+08,2.590922,0.090613,329.001200,0.300933,4.381455,169.82184,122.390564,126.262650,0.002561,0.000454,1.817560
3912,6008.6750,8.5,391.0,38.224780,-1047.1250,59.398567,59.398567,4.204138,5.366342e+08,2.590790,0.090613,329.001200,0.300933,4.399170,211.27734,154.456670,157.857090,0.002562,0.000454,1.818452
3913,6008.8270,8.5,439.0,38.224780,-1062.0000,59.398567,59.398567,4.204138,5.366342e+08,2.590852,0.090613,329.001200,0.300933,4.420348,293.13602,201.438810,197.535390,0.002561,0.000454,1.817423

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1115-RJS**

In [135]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [input for unique dataframe creation]/df_1115_ML.csv'
df_1115_ML =  pd.read_csv(file_path)
df_1115_ML.rename(columns={'GR_EDTC': 'GR'}, inplace=True) # Rename the "GR_EDTC" column to "GR"
df_1115_ML

,DEPTH,GR,AT10,AT30,AT90,CVEL,SSVE,NPHI,DTCO,CMFF,CMRP_3MS,TCMR
0,5989.7773,18.510107,1950.000000,343.233400,168.076920,-10.160001,3038.5398,-0.037226,56.335823,0.003516,0.014629,1.481880
1,5989.9297,18.510107,1950.000000,343.233400,168.076920,-10.068561,3038.5398,-0.037226,56.335823,0.003516,0.014629,1.481880
2,5990.0820,15.339763,1950.000000,343.233400,168.076920,-10.083800,3038.5398,-0.037226,56.335823,0.003802,0.011821,2.245742
3,5990.2344,13.761182,1950.000000,313.918500,189.894150,-10.078721,3038.5398,-0.037228,56.335823,0.002914,0.002957,1.654067
4,5990.3867,13.761182,1950.000000,290.491970,222.476470,-10.093961,3038.5398,-0.037243,56.335823,0.002011,0.005142,0.585020
...,...,...,...,...,...,...,...,...,...,...,...,...
2104,6310.4270,57.816784,54.222282,36.702988,67.726590,-0.899160,2659.7668,0.010318,49.286940,0.008679,0.037729,0.038176
2105,6310.5790,57.816784,58.457990,39.127598,63.823086,-0.695960,2659.7668,0.009259,49.934498,0.014080,0.035713,0.036851
2106,6310.7314,57.816784,59.554070,39.985060,56.404633,-0.944880,2659.7668,0.006694,50.765068,0.012024,0.026335,0.030061
2107,6310.8843,57.816784,59.480774,39.901165,49.294147,-0.975360,0.0000,0.005556,51.130340,0.009224,0.019436,0.039701
2108,6311.0366,57.816784,59.534634,37.386310,43.110570,-1.071880,0.0000,0.003833,51.692070,0.003501,0.010130,0.035338

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1116-RJS**

In [136]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [input for unique dataframe creation]/df_1116_ML.csv'
df_1116_ML =  pd.read_csv(file_path)
df_1116_ML

,DEPTH,GR,SP,RHGX_HILT,DTCO3,AT10,AT30,AT90,RHOZ,NPHI,CMFF,CMRP_3MS,TCMR
0,4983.9370,5.541706,-1368.4375,3.634345,70.384674,1950.0,1950.000000,49.224545,4.628800,0.133101,0.001686,0.001690,0.006268
1,4984.0900,6.501554,-1367.0000,3.634345,70.384674,1950.0,1950.000000,49.224545,4.628800,0.163406,0.001686,0.001690,0.006268
2,4984.2420,6.245832,-1370.8750,3.634345,70.384674,1950.0,1950.000000,49.224545,4.628800,0.267674,0.001686,0.001690,0.006268
3,4986.2230,8.141735,-1362.4375,3.634345,70.384674,1950.0,1950.000000,49.224545,4.628800,-0.053988,0.001685,0.001690,0.006265
4,4986.3755,7.004835,-1361.1875,3.634345,70.384674,1950.0,1950.000000,49.224545,4.628800,-0.051041,0.001685,0.001690,0.006265
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1433,5827.6235,36.414158,2047.9375,2.767742,71.085120,1950.0,32.280346,172.394360,2.491801,0.072438,0.001685,0.001690,0.006265
1434,5827.7760,25.755865,2047.9375,2.771256,71.085120,1950.0,29.598460,161.364930,2.488808,0.077569,0.001685,0.001689,0.006264
1435,5827.9280,21.617952,2047.9375,2.753919,71.085120,1950.0,28.019365,148.931410,2.483370,0.088767,0.001686,0.001690,0.006267
1436,5828.0810,23.439245,2047.9375,2.729279,71.085120,1950.0,27.419323,138.669630,2.478135,0.097661,0.001685,0.001689,0.006263
1437,5828.2334,31.443045,2047.9375,2.709901,71.085120,1950.0,27.770847,132.344090,2.474071,0.095896,0.001685,0.001689,0.006263

## Seaborn PairPlot

A Seaborn pairplot is a multivariate visualization that shows the pairwise relationships between all numeric variables in a dataset. It is a grid of plots, with each row and column representing a different variable. The diagonal plots show the distribution of each variable, while the off-diagonal plots show the relationship between two variables.

The Seaborn pairplot can be used to explore the relationships between variables, identify outliers, and visualize the distribution of data. It is a powerful tool for data exploration and can be used to gain insights into complex datasets.

<span style='color:gray'> <span style="font-size:15px;"> 
**3-BRSA-944A-RJS**

In [137]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot
cols_to_plot = ['GR', 'RHGX_HILT', 'RHOZ', 'NPHI', 'PEFZ', 'CMRP_3MS', 'CMFF', 'TCMR']
pair_plot = sns.pairplot(df_944_ML[cols_to_plot], kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})
# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[3-BRSA-944A-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [138]:
correlation_matrix = df_944_ML[cols_to_plot].corr()

#print(correlation_matrix)
correlation_matrix

,GR,RHGX_HILT,RHOZ,NPHI,PEFZ,CMRP_3MS,CMFF,TCMR
GR,1.000000,-0.289351,-0.026531,0.144441,-0.005881,-0.037447,-0.037446,-0.037445
RHGX_HILT,-0.289351,1.000000,0.482334,-0.386373,0.430577,-0.555441,-0.555442,-0.555444
RHOZ,-0.026531,0.482334,1.000000,-0.191118,0.743429,-0.732198,-0.732199,-0.732198
NPHI,0.144441,-0.386373,-0.191118,1.000000,-0.182572,0.095378,0.095378,0.095379
PEFZ,-0.005881,0.430577,0.743429,-0.182572,1.000000,-0.747797,-0.747798,-0.747797
CMRP_3MS,-0.037447,-0.555441,-0.732198,0.095378,-0.747797,1.000000,1.000000,1.000000
CMFF,-0.037446,-0.555442,-0.732199,0.095378,-0.747798,1.000000,1.000000,1.000000
TCMR,-0.037445,-0.555444,-0.732198,0.095379,-0.747797,1.000000,1.000000,1.000000

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1115-RJS**

In [140]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot
cols_to_plot = ['GR', 'AT10', 'AT30', 'AT90', 'CVEL', 'SSVE', 'NPHI', 'CMRP_3MS', 'CMFF', 'TCMR']
#'DTCO3'

pair_plot = sns.pairplot(df_1115_ML[cols_to_plot], kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})

# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[1-BRSA-1115-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [141]:
correlation_matrix = df_1115_ML[cols_to_plot].corr()

#print(correlation_matrix)
correlation_matrix

,GR,AT10,AT30,AT90,CVEL,SSVE,NPHI,CMRP_3MS,CMFF,TCMR
GR,1.000000,0.179323,-0.079884,-0.136083,0.638105,0.305826,0.539565,0.043316,0.013878,-0.141615
AT10,0.179323,1.000000,0.105750,0.070962,0.390808,0.465039,0.129778,-0.092569,-0.086665,-0.172758
AT30,-0.079884,0.105750,1.000000,0.782612,0.026295,0.114367,-0.115125,0.075650,0.125994,0.008854
AT90,-0.136083,0.070962,0.782612,1.000000,-0.016926,0.178938,-0.214059,0.153117,0.215702,0.084720
CVEL,0.638105,0.390808,0.026295,-0.016926,1.000000,0.555298,0.690400,0.004807,-0.181285,-0.341724
SSVE,0.305826,0.465039,0.114367,0.178938,0.555298,1.000000,0.190436,0.139549,0.051102,-0.086541
NPHI,0.539565,0.129778,-0.115125,-0.214059,0.690400,0.190436,1.000000,-0.249415,-0.313749,-0.522211
CMRP_3MS,0.043316,-0.092569,0.075650,0.153117,0.004807,0.139549,-0.249415,1.000000,0.736184,0.824021
CMFF,0.013878,-0.086665,0.125994,0.215702,-0.181285,0.051102,-0.313749,0.736184,1.000000,0.648728
TCMR,-0.141615,-0.172758,0.008854,0.084720,-0.341724,-0.086541,-0.522211,0.824021,0.648728,1.000000

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1116-RJS**

In [143]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot
cols_to_plot = ['GR', 'SP', 'RHOZ', 'RHGX_HILT', 'AT10', 'AT30', 'AT90', 'NPHI', 'CMRP_3MS', 'CMFF', 'TCMR']
#'DTCO'

pair_plot = sns.pairplot(df_1116_ML[cols_to_plot], kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})

# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[1-BRSA-1116-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [144]:
correlation_matrix = df_1116_ML[cols_to_plot].corr()

#print(correlation_matrix)
correlation_matrix

,GR,SP,RHOZ,RHGX_HILT,AT10,AT30,AT90,NPHI,CMRP_3MS,CMFF,TCMR
GR,1.000000,0.431113,-0.291504,-0.467768,-0.149788,-0.390299,-0.153208,0.103312,-0.230767,-0.230767,-0.230771
SP,0.431113,1.000000,-0.376021,-0.224960,0.087310,-0.211207,-0.052838,-0.053143,-0.497911,-0.497915,-0.497914
RHOZ,-0.291504,-0.376021,1.000000,0.387851,-0.156282,0.461048,0.111688,-0.033454,0.461961,0.461966,0.461962
RHGX_HILT,-0.467768,-0.224960,0.387851,1.000000,0.134556,0.601921,0.188780,-0.122311,0.037375,0.037381,0.037381
AT10,-0.149788,0.087310,-0.156282,0.134556,1.000000,0.206772,0.101824,-0.110281,-0.190654,-0.190656,-0.190656
AT30,-0.390299,-0.211207,0.461048,0.601921,0.206772,1.000000,0.195865,-0.126423,0.180184,0.180187,0.180187
AT90,-0.153208,-0.052838,0.111688,0.188780,0.101824,0.195865,1.000000,-0.103203,0.042290,0.042294,0.042293
NPHI,0.103312,-0.053143,-0.033454,-0.122311,-0.110281,-0.126423,-0.103203,1.000000,0.014195,0.014195,0.014195
CMRP_3MS,-0.230767,-0.497911,0.461961,0.037375,-0.190654,0.180184,0.042290,0.014195,1.000000,1.000000,1.000000
CMFF,-0.230767,-0.497915,0.461966,0.037381,-0.190656,0.180187,0.042294,0.014195,1.000000,1.000000,1.000000
TCMR,-0.230771,-0.497914,0.461962,0.037381,-0.190656,0.180187,0.042293,0.014195,1.000000,1.000000,1.000000

Plotting Specific Columns

Apply Depth Filtering

=========

In [145]:
# Set Pandas display options to show all rows and columns
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

# Reset the display options to their default values
#pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')


selected_columns = ['DEPTH', 'GR', 'NPHI', 'AT10', 'AT30', 'AT90', 'CMFF', 'CMRP_3MS', 'TCMR']

df_Fin = pd.concat([df_944_ML[selected_columns], df_1115_ML[selected_columns], df_1116_ML[selected_columns]], ignore_index=True)
df_Fin # Print the combined dataframe

,DEPTH,GR,NPHI,AT10,AT30,AT90,CMFF,CMRP_3MS,TCMR
0,5412.4860,12.174858,0.052712,1950.0,1950.000000,123.580055,0.000446,0.002518,1.786727
1,5412.6387,12.174858,0.052712,1950.0,1950.000000,123.580055,0.000446,0.002518,1.786727
2,5412.7910,12.320129,0.052712,1950.0,1950.000000,123.580055,0.000447,0.002519,1.787483
3,5412.9434,11.780614,0.055049,1950.0,1950.000000,123.580055,0.000447,0.002519,1.787483
4,5413.0957,11.552358,0.049696,1950.0,1950.000000,123.580055,0.000447,0.002519,1.787483
...,...,...,...,...,...,...,...,...,...
7456,5827.6235,36.414158,0.072438,1950.0,32.280346,172.394360,0.001685,0.001690,0.006265
7457,5827.7760,25.755865,0.077569,1950.0,29.598460,161.364930,0.001685,0.001689,0.006264
7458,5827.9280,21.617952,0.088767,1950.0,28.019365,148.931410,0.001686,0.001690,0.006267
7459,5828.0810,23.439245,0.097661,1950.0,27.419323,138.669630,0.001685,0.001689,0.006263
7460,5828.2334,31.443045,0.095896,1950.0,27.770847,132.344090,0.001685,0.001689,0.006263

Convert the DataFrame into a CSV file (CSV file is required for ML Algorithms implementation)

In [146]:
destination_file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [input for unique dataframe creation]/df_Fin.csv'

df_Fin.to_csv(destination_file_path, index=None)

print(f"DataFrame saved as CSV file at: {destination_file_path}")

DataFrame saved as CSV file at: /Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [input for unique dataframe creation]/df_Fin.csv