<span style='color:gray'> <span style="font-size:30px;"> 
**Selection of Data for "Predictive model (ML)"**

<span style='color:gray'> <span style="font-size:20px;"> 
**Importing Libraries, Regressors, and Required Dependencies**

In [1]:
"""%pip install --quiet --upgrade scikit-learn==1.2.2
%pip install --quiet qbstyles"""

# Importing the dependencies
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from matplotlib_inline.backend_inline import set_matplotlib_formats
set_matplotlib_formats('svg')
import matplotlib.patches as mpatches  # To create a legend with a color box

import os  # Import the os module to work with file paths

from qbstyles import mpl_style
mpl_style(dark=False)  # Set light matplotlib style


# Regression metrics
from sklearn.metrics import r2_score, mean_squared_error, mean_squared_error, mean_absolute_error

<span style='color:gray'> <span style="font-size:20px;"> 
**Loading datafile that has been extracted from DLIS file after (Sorting, Cleaning, preprocessing, choosing the logs based on need logically ...)**

<span style='color:gray'> <span style="font-size:15px;"> 
**3-BRSA-944A-RJS**

In [2]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [unique dataframe creation]/df_944_ML.csv'
df_944_ML =  pd.read_csv(file_path)
df_944_ML.rename(columns={'CMFF': 'NMRFF', 'CMRP_3MS': 'NMREFF', 'TCMR': 'NMRTOT'}, inplace=True)
df_944_ML

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
0,5485.6380,13.120711,1932.475000,970.666600,444.036830,2.924115,0.022865,50.923492,5.680130,0.049936,0.396358,0.396671
1,5485.7905,13.314984,1950.000000,939.755600,445.810850,2.925845,0.022605,50.924683,5.683527,0.049936,0.396358,0.396671
2,5485.9430,12.030705,1950.000000,911.149000,431.264280,2.924257,0.023538,51.101196,5.726338,0.049936,0.396358,0.396671
3,5486.0950,12.029197,1950.000000,683.007600,342.343700,2.920914,0.025995,51.304516,5.771926,0.049936,0.396358,0.396671
4,5486.2476,11.834923,1950.000000,697.314640,388.370400,2.916199,0.022624,52.082188,5.826449,0.049936,0.396358,0.396671
...,...,...,...,...,...,...,...,...,...,...,...,...
3429,6008.2180,38.224780,42.018140,22.247396,10.556654,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3430,6008.3700,38.224780,42.056410,22.243960,10.582869,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3431,6008.5225,38.224780,42.117004,22.251312,10.609693,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3432,6008.6750,38.224780,42.145510,22.271675,10.631273,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3433,6008.8270,38.224780,42.154550,22.288443,10.644648,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654

=======================

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1116-RJS**

In [3]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [unique dataframe creation]/df_1116_ML.csv'
df_1116_ML =  pd.read_csv(file_path)
df_1116_ML.rename(columns={'CMFF': 'NMRFF', 'CMRP_3MS': 'NMREFF', 'TCMR': 'NMRTOT'}, inplace=True)
df_1116_ML

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
0,5350.7640,29.228598,1880.636600,46.047977,65.436070,1.911232,0.462064,66.147160,10.000000,0.141804,0.399998,0.675131
1,5350.9165,28.384375,1803.976100,17.730986,45.512573,1.897772,0.493337,66.147160,10.000000,0.141804,0.399998,0.675131
2,5351.0690,25.366892,1557.294800,25.290165,35.453316,1.883895,0.503673,68.560080,10.000000,0.146237,0.430924,0.676864
3,5351.2210,21.658792,1227.168100,36.704130,48.546840,1.892580,0.383231,70.085560,10.000000,0.148821,0.464980,0.681370
4,5351.3735,20.227568,943.915340,30.725075,42.771717,1.915861,0.341551,70.682304,9.996842,0.143266,0.485577,0.667513
...,...,...,...,...,...,...,...,...,...,...,...,...
2900,5793.9434,44.209950,9.502799,9.016442,10.082510,2.714987,0.070175,66.917780,5.404206,0.011153,0.042941,0.049551
2901,5794.0957,44.209950,9.506191,9.060406,10.135521,2.714987,0.070175,66.917780,5.404206,0.011153,0.042941,0.049551
2902,5794.2480,44.209950,9.506411,9.106384,10.204328,2.714987,0.070175,66.917780,5.404206,0.011153,0.042941,0.049551
2903,5794.4004,44.209950,9.493680,9.064502,10.170754,2.714987,0.070175,66.917780,5.404206,0.011153,0.042941,0.049551
2904,5794.5527,44.209950,9.491426,9.017087,10.147186,2.714987,0.070175,66.917780,5.404206,0.011153,0.042941,0.049551

<span style='color:gray'> <span style="font-size:15px;"> 
**9-lTP-1-RJS**

In [4]:
file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [unique dataframe creation]/df_9_ITP_ML.csv'
df_9_ITP_ML =  pd.read_csv(file_path)
df_9_ITP_ML

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
0,5230.899893,18.364668,19.196234,20.528210,22.001585,2.112285,27.765093,68.337450,8.430419,14.694100,20.619087,27.914236
1,5230.999893,18.145609,17.247047,17.625770,18.691048,2.125317,28.151360,67.993440,8.418438,14.293544,20.741860,26.978453
2,5231.099893,17.943176,15.329754,15.300582,16.073359,2.130714,29.748737,67.663246,8.383753,13.796300,21.070040,26.331642
3,5231.199893,18.042002,11.579553,11.556740,11.997000,2.124417,31.248146,67.298560,8.239479,13.157555,21.527140,25.708328
4,5231.299893,18.240273,10.135851,10.116982,10.471834,2.124772,30.671698,66.678116,8.161089,12.434903,22.058117,25.103062
...,...,...,...,...,...,...,...,...,...,...,...,...
3691,5599.999899,69.719700,331.589630,233.684630,346.520800,2.558105,8.149640,63.348995,4.447030,1.574620,4.223740,4.802080
3692,5600.099899,75.163475,315.262180,223.281330,321.169250,2.556250,8.301083,63.904625,4.541373,1.357620,4.516560,5.014545
3693,5600.199899,75.267020,297.526600,212.320190,294.289520,2.563670,8.309896,64.537340,4.609696,1.087829,4.803412,5.407754
3694,5600.299899,73.839830,271.145540,194.598830,252.705150,2.596203,7.912412,65.022385,4.654750,1.087829,4.803412,5.407754
3695,5600.399899,67.758140,262.905030,189.417820,243.983690,2.613463,7.955445,65.515335,4.671908,1.087829,4.803412,5.407754

## Seaborn PairPlot

A Seaborn pairplot is a multivariate visualization that shows the pairwise relationships between all numeric variables in a dataset. It is a grid of plots, with each row and column representing a different variable. The diagonal plots show the distribution of each variable, while the off-diagonal plots show the relationship between two variables.

The Seaborn pairplot can be used to explore the relationships between variables, identify outliers, and visualize the distribution of data. It is a powerful tool for data exploration and can be used to gain insights into complex datasets.

<span style='color:gray'> <span style="font-size:15px;"> 
**3-BRSA-944A-RJS**

In [7]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot
pair_plot = sns.pairplot(df_944_ML, kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})
# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[3-BRSA-944A-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [9]:
correlation_matrix = df_944_ML.corr()
correlation_matrix

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
DEPTH,1.000000,-0.224153,-0.585992,-0.536907,-0.560939,-0.331031,-0.086190,-0.000757,0.355398,-0.668017,-0.723066,-0.736435
GR,-0.224153,1.000000,-0.033226,-0.041803,-0.008431,-0.149020,0.039414,-0.020286,0.236264,0.091028,0.120916,0.128368
AT10,-0.585992,-0.033226,1.000000,0.888746,0.848952,0.039187,0.120867,0.127107,-0.093149,0.580629,0.575464,0.579203
AT30,-0.536907,-0.041803,0.888746,1.000000,0.961312,-0.015968,0.151581,0.175462,-0.074883,0.545084,0.538444,0.538789
AT90,-0.560939,-0.008431,0.848952,0.961312,1.000000,-0.002087,0.143851,0.158117,-0.069968,0.538139,0.539725,0.539689
RHOZ,-0.331031,-0.149020,0.039187,-0.015968,-0.002087,1.000000,-0.521231,-0.602563,-0.689476,-0.025181,0.010251,0.025141
NPHI,-0.086190,0.039414,0.120867,0.151581,0.143851,-0.521231,1.000000,0.844840,-0.009535,0.271338,0.247207,0.235026
DTCO,-0.000757,-0.020286,0.127107,0.175462,0.158117,-0.602563,0.844840,1.000000,0.127395,0.207725,0.176817,0.160559
PEFZ,0.355398,0.236264,-0.093149,-0.074883,-0.069968,-0.689476,-0.009535,0.127395,1.000000,-0.122810,-0.137771,-0.142622
NMRFF,-0.668017,0.091028,0.580629,0.545084,0.538139,-0.025181,0.271338,0.207725,-0.122810,1.000000,0.986481,0.979831
NMREFF,-0.723066,0.120916,0.575464,0.538444,0.539725,0.010251,0.247207,0.176817,-0.137771,0.986481,1.000000,0.996302
NMRTOT,-0.736435,0.128368,0.579203,0.538789,0.539689,0.025141,0.235026,0.160559,-0.142622,0.979831,0.996302,1.000000

<span style='color:gray'> <span style="font-size:15px;"> 
**1-BRSA-1116-RJS**

In [10]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot

pair_plot = sns.pairplot(df_1116_ML, kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})

# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[1-BRSA-1116-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [11]:
correlation_matrix = df_1116_ML.corr()
correlation_matrix

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
DEPTH,1.000000,-0.109883,-0.707441,-0.266052,-0.200536,0.624687,-0.478193,0.138995,-0.148397,-0.694294,-0.656337,-0.477939
GR,-0.109883,1.000000,-0.123926,0.441622,0.310232,0.045395,-0.196687,-0.049548,-0.200778,0.113268,0.044368,-0.029671
AT10,-0.707441,-0.123926,1.000000,0.201863,0.258302,-0.422294,0.368572,-0.128392,0.314595,0.448740,0.460733,0.347998
AT30,-0.266052,0.441622,0.201863,1.000000,0.738295,-0.194275,-0.143735,-0.144289,0.054290,0.296019,0.193099,0.111337
AT90,-0.200536,0.310232,0.258302,0.738295,1.000000,-0.157886,-0.082466,-0.128068,0.057887,0.233962,0.139924,0.089146
RHOZ,0.624687,0.045395,-0.422294,-0.194275,-0.157886,1.000000,-0.684261,-0.193175,-0.490886,-0.592271,-0.774721,-0.784216
NPHI,-0.478193,-0.196687,0.368572,-0.143735,-0.082466,-0.684261,1.000000,0.345707,0.328485,0.474090,0.590673,0.608582
DTCO,0.138995,-0.049548,-0.128392,-0.144289,-0.128068,-0.193175,0.345707,1.000000,0.172203,0.035923,0.111469,0.194735
PEFZ,-0.148397,-0.200778,0.314595,0.054290,0.057887,-0.490886,0.328485,0.172203,1.000000,0.059899,0.471950,0.558798
NMRFF,-0.694294,0.113268,0.448740,0.296019,0.233962,-0.592271,0.474090,0.035923,0.059899,1.000000,0.724645,0.539056
NMREFF,-0.656337,0.044368,0.460733,0.193099,0.139924,-0.774721,0.590673,0.111469,0.471950,0.724645,1.000000,0.908321
NMRTOT,-0.477939,-0.029671,0.347998,0.111337,0.089146,-0.784216,0.608582,0.194735,0.558798,0.539056,0.908321,1.000000

<span style='color:gray'> <span style="font-size:15px;"> 
**9-lTP-1-RJS**

In [12]:
sns.set_style('darkgrid')  # Setting the stying of the Seaborn figure

# Your code to create the pairplot
pair_plot = sns.pairplot(df_9_ITP_ML, kind='reg', diag_kind='kde', plot_kws={'color':'blue','line_kws':{'color':'red'},
                                                                     'scatter_kws': {'s': 20, 'alpha': 0.5, 'edgecolor': 'white'}})

# Specify the folder where you want to save the image
output_folder = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Plots - data evaluation for selection'

# Ensure the folder exists, create it if necessary
os.makedirs(output_folder, exist_ok=True)

# Save the pairplot as an image (e.g., PNG)
output_filename = os.path.join(output_folder, 'pairplot-seaborn[9-lTP-1-RJS].png')  # Full path to the output file
pair_plot.savefig(output_filename)

plt.close(pair_plot.fig)

In [13]:
correlation_matrix = df_9_ITP_ML.corr()
correlation_matrix

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
DEPTH,1.000000,0.631213,0.373153,0.377146,0.370752,0.201967,-0.420777,-0.449563,-0.040821,-0.300196,-0.334770,-0.348358
GR,0.631213,1.000000,-0.105445,-0.085369,-0.076793,0.143596,-0.248201,-0.404884,-0.011483,-0.395951,-0.342643,-0.340222
AT10,0.373153,-0.105445,1.000000,0.989388,0.952007,0.084409,-0.303860,-0.173623,0.011883,0.062376,-0.091587,-0.117605
AT30,0.377146,-0.085369,0.989388,1.000000,0.982266,0.092172,-0.304126,-0.200463,0.016347,0.052774,-0.099035,-0.122759
AT90,0.370752,-0.076793,0.952007,0.982266,1.000000,0.096105,-0.286973,-0.212519,0.000700,0.067736,-0.086146,-0.108442
RHOZ,0.201967,0.143596,0.084409,0.092172,0.096105,1.000000,-0.815306,-0.529292,-0.352783,-0.366139,-0.668314,-0.675656
NPHI,-0.420777,-0.248201,-0.303860,-0.304126,-0.286973,-0.815306,1.000000,0.622599,0.315409,0.450974,0.730035,0.742266
DTCO,-0.449563,-0.404884,-0.173623,-0.200463,-0.212519,-0.529292,0.622599,1.000000,0.020556,0.587963,0.661235,0.646006
PEFZ,-0.040821,-0.011483,0.011883,0.016347,0.000700,-0.352783,0.315409,0.020556,1.000000,-0.253465,0.061131,0.097592
NMRFF,-0.300196,-0.395951,0.062376,0.052774,0.067736,-0.366139,0.450974,0.587963,-0.253465,1.000000,0.779050,0.747468
NMREFF,-0.334770,-0.342643,-0.091587,-0.099035,-0.086146,-0.668314,0.730035,0.661235,0.061131,0.779050,1.000000,0.981214
NMRTOT,-0.348358,-0.340222,-0.117605,-0.122759,-0.108442,-0.675656,0.742266,0.646006,0.097592,0.747468,0.981214,1.000000

Plotting Specific Columns

Apply Depth Filtering

=========

In [5]:
df_Fin = pd.concat([df_944_ML, df_1116_ML, df_9_ITP_ML]).sort_values(by='DEPTH')
#df_Fin = df_Fin.drop_duplicates(subset='DEPTH')
#df_Fin.reset_index(drop=True, inplace=True)
df_Fin # Print the combined dataframe

,DEPTH,GR,AT10,AT30,AT90,RHOZ,NPHI,DTCO,PEFZ,NMRFF,NMREFF,NMRTOT
0,5230.899893,18.364668,19.196234,20.528210,22.001585,2.112285,27.765093,68.337450,8.430419,14.694100,20.619087,27.914236
1,5230.999893,18.145609,17.247047,17.625770,18.691048,2.125317,28.151360,67.993440,8.418438,14.293544,20.741860,26.978453
2,5231.099893,17.943176,15.329754,15.300582,16.073359,2.130714,29.748737,67.663246,8.383753,13.796300,21.070040,26.331642
3,5231.199893,18.042002,11.579553,11.556740,11.997000,2.124417,31.248146,67.298560,8.239479,13.157555,21.527140,25.708328
4,5231.299893,18.240273,10.135851,10.116982,10.471834,2.124772,30.671698,66.678116,8.161089,12.434903,22.058117,25.103062
...,...,...,...,...,...,...,...,...,...,...,...,...
3429,6008.218000,38.224780,42.018140,22.247396,10.556654,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3430,6008.370000,38.224780,42.056410,22.243960,10.582869,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3431,6008.522500,38.224780,42.117004,22.251312,10.609693,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3432,6008.675000,38.224780,42.145510,22.271675,10.631273,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654
3433,6008.827000,38.224780,42.154550,22.288443,10.644648,2.211345,0.090613,59.398567,9.907986,0.056437,0.067626,0.067654

Convert the DataFrame into a CSV file (CSV file is required for ML Algorithms implementation)

In [6]:
destination_file_path = '/Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [unique dataframe creation]/df_Fin.csv'

df_Fin.to_csv(destination_file_path, index=None)

print(f"DataFrame saved as CSV file at: {destination_file_path}")

DataFrame saved as CSV file at: /Users/amirhosseinakhondzadeh/CODE_WELLLOGS/Petrobras Well-log Analysis/Processed Data (out put of preprocessing == Input of ML)/Output of well data, [unique dataframe creation]/df_Fin.csv